div {
    border: 2px solid gray;
    height: 30px;
    /*overflow*/
    overflow: visible;/*超出部分可视*/
    overflow: hidden;/*超出部分隐藏*/
    overflow: scroll;/*超出部分以滚动方式看见*/
    overflow: auto;/*超出显示滚动条，不超出则无*/
}